img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

/* Sticky Header */
header {
  position: fixed;       /* always stays in place */
  top: 0;                /* stick to the top */
  left: 0;
  width: 100%;
  background: #2a6e2a;
  text-align: center;
  height: 20px;
  padding: 15px;
  z-index: 1000;
}

/* Sticky Footer */
footer {
  position: fixed;       /* always stays in place */
  bottom: 0;             /* stick to the bottom */
  left: 0;
  width: 100%;
  background: rgb(192, 10, 10);
  text-align: center;
  height: 20px;
  padding: 15px;
  z-index: 1000;
}

.filler{
    height: 40px;
    background-color: beige;
}

.hero-title-image{
    background-image: url("./Pizza Images/Screenshot\ 2025-09-15\ at\ 6.49.03\ PM.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.hero-image{
    background-image: url("./Pizza Images/vector-illustration-modern-pizzeria-interior-260nw-2255744145\ copy.png");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.heading-section{
    text-align: center;
    background-color: beige;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.secondary-image{
    height: 275px;
    width: 275px
}

.aboutus-title{
    padding-top: 40px;
    background-color: beige;
    text-align: center;
}

.aboutus-text{
    background-color: beige;
    text-align: center;
    width: 90%;
    font-size: 1.5rem;
}

h1{
    color: brown;
}

p{
    color: chocolate;
}

.home-paragraph-size{
    width: 90%
}

.hero-text{
    -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
    -webkit-text-stroke-color: brown; /* Sets the outline color to blue */
    -webkit-text-fill-color: rgba(210, 105, 30, 0.9); /* Sets the text fill color to white */
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-family: "Italiana", Garamond, Georgia, "Times New Roman", serif;
    font-size: 5rem;
}

.hero-text-menu{
    -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
    -webkit-text-stroke-color: brown; /* Sets the outline color to blue */
    -webkit-text-fill-color: rgba(210, 105, 30, 0.9); /* Sets the text fill color to white */
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-family: "Italiana", Garamond, Georgia, "Times New Roman", serif;
    font-size: 5rem;
}

.heading-text{
    -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
    -webkit-text-stroke-color: brown; /* Sets the outline color to blue */
    -webkit-text-fill-color: chocolate; /* Sets the text fill color to white */
    font-size: 4rem;
    text-align: center;
}

.stores-note-text{
    -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
    -webkit-text-stroke-color: brown; /* Sets the outline color to blue */
    -webkit-text-fill-color: chocolate; /* Sets the text fill color to white */
    font-size: 2rem;
    text-align: center;
}

.two-column{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.three-column{
    display: flex; 
    justify-content: center; 
    background-color: beige;
    grid-template-columns: repeat(3, 1fr);
    gap: 350px;
    width: 100%;
    border: beige;
    padding: auto;
    padding-top: 40px;
    padding-bottom: 65px;
}

.three-column-menu{
    display: flex; 
    justify-content: center; 
    background-color: beige;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 100%;
    border: beige;
    padding: auto;
    padding-top: 40px;
    padding-bottom: 65px;
}

/* Green button styling */
.my-button {
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(20, 64, 20);
    color: white;
    background-color: rgb(30, 100, 30); /* dark green colour */
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Hover effect */
.my-button:hover {
    background-color: #45a049; /* Lighter green */
}

/* Red button styling */
.my-button-red {
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(100, 30, 30);
    color: white;
    background-color: rgb(160, 20, 15); /* dark red colour */
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Red hover effect */
.my-button-red:hover {
    background-color: #a04545; /* Lighter red */
}

.info{
    font-size: 1.75em;
}

.default-background{
    background-color: beige;
    padding-top: 50px;
}

h3{
    color: chocolate;
}